body{
	background-color: #FFD8B1;
}
.is-pgf-primary{
	background-color: #E17701;
}
.is-pgf-secondary{
	background-color: #FFD8B1;
}
.is-pgf-primary-dark{
	background-color: #C65102;
}
.tarjetapartido{
	width: 10px;
	align-items: center;
  	justify-content: center;	

}